/* HEADER */

html {
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    height: 100%;
    margin: 0;
}

.header{
    padding: 10px;
    height: 50px;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #DA291C;
}

.header .nav-items a{
    margin-right: 10px;
    
}

.header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.header a:hover{
    color: #FFC72C;
    transition: 0.5s;
}

.header .title{
    text-align: left;
    font-size: 20px;
}

.header .nav-title a img{
    width: 100px;
    height: 70px;
}

.menu {
    display: none;
}

.menu-icon{
    width: 20px;
    margin-bottom: 4px;
    height: 2px;
    background-color: white;
}

/* FOOTER */
.footer{
    padding: 10px;
    height: 50px;
    width: 99%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFC72C;
    background-color: #DA291C;
}

.footer a img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

/* BODY */
.body {
    display: flex;
}

.body .banner-container{
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.body .form-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-self: center;
    margin-left: 5vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    background-color: #DA291C;
}

.body .form-container .form{
    display: flex;
    margin-top: 10px;
    position: relative;
    padding-left: 3vw;
    padding-right: 3vw;
    align-items: center;
    color: white;
}

.body .form-container .form-lbl{
    margin-right: 10px;
}

.body .form-container button {
    margin-top: 2vw;
    margin-left: 10vw;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 1vw;
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background-color:#eab72c;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
}

.body .form-container button:hover {
    background-color:#FFC72C;
    transition: 0.5s;
}

.form-input{
    border-radius: 10px;
    padding: 7px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.form p{
    display: none;
    position: absolute;
    font-style: italic;
    top: 28px;
}

.form small{
    display: none;
    position: absolute;
    font-style: italic;
    top: 170px;
}

.form em{
    display: none;
    position: absolute;
    top: 20px;
}


/* RESPONSIVE */
@media (max-width: 400px) {

    .body .banner-container{
        display: none;
        position: relative;
    }

    .body .form-container{
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
    }

    .body .form-container .form{
        position: relative;
    }

    .body .form-container button{
       margin-left: 120px;
       margin-bottom: 10px;
       margin-top: 30px;
    }

    .form p{
        top: 28px;
    }
    
    .form small{
        top: 170px;
    }
    
    .form em{
        top: 25px;
    }

    /* RESPONSIVE NAVBAR */
    .menu{
        display: block;
        position: absolute;
        right: 15px;
        top: 25px;
    }

    .header{
        flex-direction: column;
    }

    .nav-items {
        background-color: #b02116;
        display: flex;
        position: absolute;
        top: 70px;
        flex-direction: column;
        width: 420px;
        z-index: 9999;
    }

    .header .nav-items a {
        display: none;
        padding: 10px 20px;
    }

    .nav-title {
        width: 100%;
    }

    .header .nav-title a img{
        height: 50px;
        width: 80px
    }

    .nav-items.active{
        display: block;
    }

    .nav-items.active a {
        display: block;
        padding: 10px 20px;
    }


}